@import '~normalize.css';

html {
  font-size: 62.5%;
}
body {
  color: #787878;
  background-color: #F2F2F2;
  font-family: 'Helvetica Neue', helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.618;
}
h1, h2, h3, h4, h5, h6 {
  color: #434343;
}

h2 {
  border-bottom: 1px solid #CCCCCC;
}

a {
  color: #90B44B;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}
.container-fluid {
  width: 100%;
}
.header {
  height: 62px;
  color: #434343;
  background-color: #FFFFFF;
  overflow: hidden;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  display: flex;
  align-items: center;
  .nav {
    margin-left: -15px;
    margin-right: -15px;
    .nav-item {
      display: inline-block;
      padding: 5px;
      margin: 0 10px;
      color: #333333;
      text-decoration: none;
      font-size: 1.6rem;
      line-height: 1;
      cursor: pointer;
      transition: color 0.25s ease;
      &:hover {
        color: #90B44B;
        opacity: 0.75;
      }
      &.active {
        color: #90B44B;
      }
    }
  }
}

.text-center {
  text-align: center;
}
.site-description {
  margin-bottom: 38px;
}
.demo {
  margin-bottom: 62px;
}

.demo-input {
  display: block;
  font-size: 2.4rem;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  border: 0;
  outline: 0;
  transition: color 0.25s ease;
  &:focus {
    box-shadow: 0 2px 1px 1px rgba(0,0,0,.1);
  }
}

.listview {
  padding-left: 20px;
  line-height: 1.618;
  margin-top: 20px;
  margin-bottom: 15px;
}
.show-lg {
  display: none;
}

@media (min-width: 1025px) {
  .show-lg {
    display: block;
  }
}

@media (max-width: 1024px) {
  .header {
    height: 38px;
    .nav {
      margin-left: -10px;
      margin-right: -10px;
      .nav-item {
        font-size: 1.4rem;
        margin: 0 5px;
      }
    }
  }
  .container {
    padding: 0 15px;
  }
}